<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="cbConnstring" value="server=.;database=SBAS_SC;uid=sa;pwd=sa;"/>
    <add key="showlog" value="true"/>
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/octet-stream"/>
    </staticContent>
  </system.webServer>
</configuration>
